body {
	height: 100%;
}
.message-container {
	min-height: 50px;
	margin-top: 25px;
}
tr td{
    padding: 5px;
    margin: 5px;
  }
button {
	font-family: "Verdana" sans-serif;
	font-size: 1em;
	text-align: left;
	color: #007bff;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}