{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block  title %}
    {% if update %}
    Update Blog
    {% else %}
    Create Blog
    {% endif %}
{% endblock  %}

{% block content %}
{% if update %}
    <h1>Update Blog</h1>
{% else %}
    <h1>Create Blog</h1>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if update %}
        <button type="submit" class="btn btn-primary">Edit Blog</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Post Blog</button>
    {% endif %}
</form>
{% endblock content %}